dataFactoryforF1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dataFactoryforF1"
		},
		"ls_formula1_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_formula1_adls'"
		},
		"ls_formula1_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://formula1newdatalake.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_formula1_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_folder_details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Dataset_formula1_raw",
								"type": "DatasetReference",
								"parameters": {
									"v_window_end_date": {
										"value": "@pipeline().parameters.window_end_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Folder Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_folder_details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get_folder_details').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ingest_circuit_file",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/1.ingestion_circuts_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_races",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/2.ingestion_race_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_drivers",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/4.ingestion_drivers_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_constructor",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/3.ingestion_consturctor_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_results",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/5.ingestion_results_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_pitstops",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/6.ingestion_pitstop_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_lap_time",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/7.ingestion_lap_times_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ingest_qualifying",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/Ingestion/8.ingestion_Qualitfying_file",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"data_source": {
						"type": "String",
						"defaultValue": "Ergas_api"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dataset_formula1_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_learning')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_process_formula1_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_formula1_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"window_end_date": {
									"value": "@pipeline().parameters.window_end_date",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute trnsformation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_formula1_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"window_end_date": {
									"value": "@pipeline().parameters.window_end_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"window_end_date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_formula1_data')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transform_formula1_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_formula1_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_folder_details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Dataset_formula1_raw",
								"type": "DatasetReference",
								"parameters": {
									"v_window_end_date": {
										"value": "@pipeline().parameters.window_end_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Folder Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_folder_details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get_folder_details').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "race_results",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/1.race_results",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "driver_standings",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "race_results",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/2.driver_standing",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "constructor_standings",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "race_results",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/3.constructor_Standings",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "calculated_race_results",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/5.calculated_results",
										"baseParameters": {
											"data_source": {
												"value": "@variables('data_source')",
												"type": "Expression"
											},
											"file_date": {
												"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_learning",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"data_source": {
						"type": "String",
						"defaultValue": "Ergas_api"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dataset_formula1_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_learning')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_formula1_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_formula1_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"v_window_end_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(dataset().v_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_formula1_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_learning')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7896172621908008.8.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/60260c42-086b-4d3a-840f-e978cd41d4d9/resourceGroups/DataBricks/providers/Microsoft.Databricks/workspaces/DataEngineering",
					"existingClusterId": "0522-191329-su2ta1gn"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_formula1_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_formula1_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_formula1_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}