pipeline/pl_transform_formula1_data.json
{
	"name": "pl_transform_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "Get_folder_details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dataset_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"v_window_end_date": {
								"value": "@pipeline().parameters.window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_folder_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get_folder_details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "race_results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/1.race_results",
								"baseParameters": {
									"data_source": {
										"value": "@variables('data_source')",
										"type": "Expression"
									},
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_learning",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "driver_standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "race_results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/2.driver_standing",
								"baseParameters": {
									"data_source": {
										"value": "@variables('data_source')",
										"type": "Expression"
									},
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_learning",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "constructor_standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "race_results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/3.constructor_Standings",
								"baseParameters": {
									"data_source": {
										"value": "@variables('data_source')",
										"type": "Expression"
									},
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_learning",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "calculated_race_results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/vidyadhar23m@gmail.com/Formula1_Databrick_Data_Engineering/Formula1_Data_engineer_project/formula1/presentation/5.calculated_results",
								"baseParameters": {
									"data_source": {
										"value": "@variables('data_source')",
										"type": "Expression"
									},
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_learning",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"data_source": {
				"type": "String",
				"defaultValue": "Ergas_api"
			}
		},
		"annotations": []
	}
}